
.footer{
  background-color: #10af9a;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.header{
  background-color: #10af9a;
  color: white;
  text-align: center;
  padding: 10px;
}

button:hover {
  background-color: #0c8b7a;
}

.header {
  background-color: #10af9a;
  padding: 15px;
  color: white;
}

.footer {
  background-color: #10af9a;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
  color: white;
}
